<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>ATTENAPP|Dashboard</title>
    <link rel="stylesheet" href="../../../assets/styles/styles.css" />
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <!-- Remixicon CDN Link -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" rel="stylesheet" />
    <!-- Bootstrap CDN Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- tailwindcss -->
    <script src="https://cdn.tailwindcss.com"></script>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class="bx bxl-c-plus-plus"></i>
        <span class="logo_name">ATTENAPP</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="../../../../index.html">
            <i class="bx bx-user"></i>
            <span class="links_name">Employees</span>
          </a>
        </li>
        <li>
          <a href="../Recuritment/postings.html">
            <i class="ri-briefcase-4-fill"></i>
            <span class="links_name">Recuritment</span>
          </a>
        </li>
        <li>
          <a href="../Performance/reviews.html">
            <i class="ri-speed-up-fill"></i>
            <span class="links_name">Performance</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ri-wallet-3-fill"></i>
            <span class="links_name">Payroll</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ri-calendar-event-fill"></i>
            <span class="links_name">Attendance</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ri-bill-fill"></i>
            <span class="links_name">Policies</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-pie-chart-alt-2' ></i>
            <span class="links_name">Analytics</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ri-id-card-fill"></i>
            <span class="links_name">Portals</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-landmark' ></i>
            <span class="links_name">Administration</span>
          </a>
        </li>
      </ul>

      <button class ="btn btn-primary">
        <i class="ri-arrow-left-line"></i>
        Back
      </button>
    </div>

    <!-- home-section -->
    <section class="home-section">
       <!-- main-navbar -->
      <nav>
        <div class="sidebar-button">
          <i class="bx bx-menu sidebarBtn"></i>
        </div>
        <div class="search-box">
          <input type="text" placeholder="Search..." />
          <i class="bx bx-search"></i>
        </div>
        <div class="profile-details">
          <img src="src/assets/images/AdarshRai.jpg" alt="" />
        </div>
      </nav>
    </section>

     <!-- sub nav bar -->
     <section class="home-content">
       <div class="subnav">
        <ul>
          <li><a href="request.html">Request</a></li>
          <li><a href="leaveTracking.html">Leave Tracking</a></li>
          <li0><a href="absenceMagt.html">Absence Magt</a></li>
          <li class="current"><a href="#">Time-off Policies</a></li>
        </ul>
      </div>
     </section>

     
    <!-- bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- tailwindcss -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Project -->
    <script src="../../../scripts/script.js"></script>
  </body>
</html>
