@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.page-content{
    background:#e4e1e1;
}
.page-content #cardContainer{
    position:relative;
    width:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}
.page-content .card{
  
    display:flex;
    justify-content:start;
    flex-direction:column;
    align-items: center;
    width:30rem;
    height:30rem;
    margin:25px;
    padding:2rem;
    border-radius:10px;
    box-shadow:1rem black;
  }