/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.page-content .card{
  
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    box-shadow: 2rem #86bffc;
    height:10rem;
    width:auto;
    margin:20px;
    padding:5px;
    border-radius:10px;
}

.page-content text{
    font-weight:bolder;
    font-size: large;

}
.page-content button{
   height:4rem;
   width:12rem;
   padding:0.5rem;
   margin:auto;
   font-weight: bolder;
   background:#0735c0;
   color:white;
   border-radius:1rem;
}

.page-content button:hover{
    background:#069a32;
 }

 
 /* Pagination Styles */
.page-content #pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  .page-content #pagination button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .page-content #pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .page-content #pagination button:hover:enabled {
    background-color: #45a049;
  }
  
  .page-content #pageInfo {
    margin: 0 10px;
    font-weight: bold;
  }