.profile-details {
    position: relative;
  }
  
  .pop-over {
    display: none;
    position: absolute;
    width: 12rem;
    height: 8rem;
    justify-content: start;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  .pop-over-header {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0.8rem #007bff;
  }
  
  .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }
  
  .pop-over-content {
    padding: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:fit-content;
    margin-bottom:10px;
  }
  
  .logout-btn {
    background-color: rgb(18, 4, 54);
    color: white;
    margin-left:25px;
    padding: 10px 60px;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    align-self: center; 
  }
  .logout-btn:hover,
  .logout-btn:focus{
    background: rgb(216, 11, 11);
  }