/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.page-content #cardContainer{
    position:relative;
    width:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}
.page-content .card{
  
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    height:9rem;
    width:30rem;
    height:18rem;
    margin:20px;
    padding:2rem;
    border-radius:10px;
    background:#e4e1e1;
    box-shadow:1rem black;
  }

.page-content text{
    font-weight:bolder;
    font-size: large;

}
.page-content button{
   height:2.5rem;
   width:7.5rem;
   padding:0.5rem;
   margin:auto;
   font-weight: bolder;
   border-radius:1rem;
}


 
 /* Pagination Styles */
.page-content #pagination {
    margin-top: 10px;
    text-align: center;
  }
  
  .page-content #pagination button {
    padding: 4px 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .page-content #pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .page-content #pagination button:hover:enabled {
    background-color: #45a049;
  }
  
  .page-content #pageInfo {
    margin: 0 5px;
    font-weight: bold;
  }