.page-content #searchbar{
    display:flex;
    border:10px;
    border-radius:50px;
    width: calc(100% - 20px);
    left:240px;
    box-shadow: 1rem #7eb8f6;
    margin:10px;
}

.sidebar.active ~ .page-content #searchbar {
  
    width: calc(100% - 65px);
    left: 65px;
}

.page-content #searchInput{
    display:flex;
    border-radius:50px;
    width: calc(100% - 20px);
    left:240px;
    padding:10px;
    border:10px;
    box-shadow:10px #7eb8f6;
}

.page-content #searchIcon{
  font-size: 30px;
  padding:0 5px 0 10px;
}