/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Side-bar */
.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: #0A2558;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 60px;
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.sidebar .nav-links {
  margin-top: 10px;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}

.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
  background: #ffffff;
  color:#081D45;
}

.sidebar .nav-links li a:hover {
  background: #ffffff;
  color:#081D45;
}

.sidebar .nav-links li a:hover i,
.sidebar .nav-links li a:hover .links_name {
  color: #081D45;
}

.sidebar .nav-links li a.active i,
.sidebar .nav-links li a.active .links_name {
  color: #081D45;
}

.sidebar .nav-links li i {
  min-width: 65px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.sidebar .nav-links li a .links_name {
  color: #fff;
  font-size: 12px;
  font-weight: bolder;
  white-space: nowrap;
}

.sidebar .nav-links li a .links_name:hover {
  color:#081D45 ;
}

.sidebar .nav-links li a .links_name:active {
  color:#081D45 ;
}

/* Home-content and Home-Section */
.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 10vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-section {
  width: calc(100% - 65px);
  left: 65px;
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-section nav {
  left: 65px;
  width: calc(100% - 65px);
}

.home-content {
  position: relative;
  background: #32f5f5;
  min-height: 90vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.home-content .subnav {
  display: flex;
  justify-content: space-between;
  height:10vh;
  max-height: 10vh;
  background: #f6cf0d;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-content{
  left: 65px;
  width: calc(100% - 65px);
}

.sidebar.active ~ .home-content .subnav{
  left: 65px;
  width: calc(100% - 65px);
}

.sidebar .btn{
  position: absolute;
  bottom:0;
  width:100%;
  justify-content: center;
}
.sidebar.active .btn{
  display:none;
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}

.home-section nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}

nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0 0px 0 0px;
}

nav .profile-details img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  color: #333;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .sidebar:not(.active) ~ .home-section nav .profile-details,
  .sidebar:not(.active) ~ .home-content .subnav {
    display: none;
  }

  .sidebar.active ~ .home-section nav .profile-details,
  .sidebar.active ~ .home-content .subnav {
    display: flex; /* or 'block', depending on your layout */
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .sidebar {
    width: 100%;
  }
  .sidebar.active {
    width: 60px;
  }
  .sidebar:not(.active) ~.home-section ,
  .sidebar:not(.active) ~.home-content,
  .sidebar:not(.active) ~.home-section nav{
    display: none;
  }
}



